# Define where your background images should come from
## available options [local|single|nasa|unsplash|pexels|flickr]
IMAGES_SOURCE=nasa
## images directory from which to take images shown as background. Traverses all subfolders as well
IMAGES_DIR='/media/path/to/images/'
## include MP4 video files in directory traversal
INCLUDE_MP4=true
## if SINGLE_IMAGE value is "true", then the very first image found in IMAGES_DIR will be used and will never change
SINGLE_IMAGE=false
## number of seconds for how long one background image stays on before switching to next in line
IMAGE_INTERVAL=60
## toggle showing "next image" and "next folder" buttons in the bottom right corner
NAV_BUTTONS=true
## show EXIF data button
EXIF=true

# Magic Mirror mode
## Setting it to `true` will overwrite any "IMAGE" setting. Just solid black background and all white text for high contrast
MAGIC_MIRROR=false

# Auto Expand - automatically open collapsable elements
## useful if infoboard will be displayed on a non-touch screen
AE_TFL=false
AE_FORECAST=false
AE_WEATHER_DETAILS=false
AE_CALENDAR=false

# NASA Picture of the day
## apply for API key here: https://api.nasa.gov/index.html#apply-for-an-api-key
NASA_KEY=DEMO_KEY

# Unsplash photos
## register for a free account and generate your API keys https://unsplash.com/
UNSPLASH_ACCESS=
UNSPLASH_SECRET=
UNSPLASH_CALLBACK_URL=""
## show images tagged with current weather conditions
## if set to false, Unsplash will return random images
UNSPLASH_WEATHER_TAGGED=true

# Pexels photos
## register for a free account and generate your API key https://www.pexels.com/api/
PEXELS_KEY=
## search for images tagged with current weather conditions
## if set to false, Pexels will return curated images
PEXELS_WEATHER_TAGGED=true

# Flickr images
## there's no option for random image, therefore Flickr images are always weather tagged
## Create a new app and get your API key
FLICKR_API_KEY=

# Weather
WEATHER=true
## register for ClimCell free account https://www.climacell.co/weather-api/pricing/
## and generate your API v4 key for a free version
WEATHER_API_KEY=
## latitude and longitude of location for weather forecast
WEATHER_LAT=51.507388
WEATHER_LON=-0.127768
## location name to be displayed above temperature - informational purpose only
WEATHER_LOCATION_NAME="London, UK"
## refresh frequency, default 5 minutes
WEATHER_REFRESH=300000
## units type to display data in. Possible values 'metric' for Metric and 'imperial' for Royal unit system
WEATHER_UNITS='metric'
## list of data fields for current weather. Notice, pollen data is only for USA
## full referrence: https://docs.climacell.co/reference/data-layers-overview#field-descriptors
WEATHER_FIELDS=temperature,temperatureApparent,humidity,windSpeed,windGust,pressureSurfaceLevel,moonPhase,weatherCode,solarGHI,particulateMatter25,particulateMatter10,pollutantO3,pollutantNO2,pollutantCO,pollutantSO2,epaHealthConcern,treeIndex,weedIndex,grassIndex
## round temperature to the nearest integer
WEATHER_ROUNDED=true

# Transport for London
TFL=true
## create a free TfL account and register your app https://api.tfl.gov.uk/
TFL_APP_ID=
TFL_APP_KEY=
## comma separated list of London bus stop codes. Find your bus code here: https://tfl.gov.uk/travel-information/stations-stops-and-piers/
TFL_BUS_STOPS=490013767T,490013767T
## service status for London transport other than buses
TFL_STATUS=tube,overground,dlr,tflrail,tram

# Time and date options
## Check https://momentjs.com/docs/#/displaying/ for documentation
TIME_FORMAT="HH:mm:ss"
DATE_FORMAT="dddd, Do MMMM YYYY"

# Calendar events in iCal format
## shows up to 10 events from the next 60 days
CALENDAR_ENABLE=true
CALENDAR_DATE_FORMAT="YYYY-MM-DD"
CALENDAR_TIME_FORMAT="HH:mm"
## for Google Calendar go to settings for your calendar and
## paste below a link from "Public address in iCal format" section
CALENDAR_ICAL=""
CALENDAR_LIMIT=10

# DHT sensor for temperature and humidity
DHT=false
DHT_SENSOR_TYPE=22
DHT_GPIO_PIN=4
DHT_TIMER=1800

# SDS011 sensor for air quality
SDS011=false
# COM5 is for Windows; RPi will be ttyUSB0 or ttyUSB1...
SDS_PORT="COM5"
# How ofter to take reading from sensor (in seconds)
SDS_FREQUENCY=3600

# COVID data
C19_ENABLE=true
## list of countries to pull data for
## 3 letter country codes: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3
C19_COUNTRY="GBR,USA"
C19_DATE_FORMAT="YYYY-MM-DD"
## data refresh frequency, default 6 hours
C19_TIMER=21600
