# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Backpack build
build

# environment specific config file
.env

# Other
\!resources
credentials.json
token.json